<form action="/form" method="post" enctype="multipart/form-data">
  <input type="file" name="test" />
  <input type="file" name="testMultiple" multiple  />
  <input type="submit" value="click" />
</form>