<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Welcome to my website</p>
<a href="/users">Trang users</a> <br> <br>
<a style="color: black; text-decoration: none" href="/products">Trang products</a>
